/* Add CSS Styling */

.odd {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.font-size-24 {
    font-size: 24px;
}

#num2 {
    color: blue;
    font-size: 36px;
}

#num4 {
    background-color: lightgreen;
    font: bold;
}