/* Add CSS Styling */

.black-white,
.yellow {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.black-white {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
}